# Node.js / Express.js
node_modules/
npm-debug.log
yarn-error.log

# Dependency directories
/lib
/vendor
/bower_components

# dotenv environment variables file
.env

# Log files
logs/
*.log

# macOS
.DS_Store

# Editor-specific files
.vscode/
.idea/

# Thumbnails
Thumbs.db
